# Add any directories, files, or patterns you don't want to be tracked by version control
.settings
*/.settings/*
target
*/taget
*/.classpath
*/.project
/.classpath
/.project
/sports-services/*.iml
/sports-services/.idea
